set noparent
linelength=100
extensions=cpp,hpp
# header guards stay DBINFER_<PATH>_HPP, no license headers, src is an include root
filter=-legal/copyright,-build/header_guard,-build/include_subdir,-build/include
